.App {
  text-align: center;
  background-color: #d2d0eb;
  min-height: 100vh;
  color: black;
  padding: 3rem;
}

.graph {
  display: grid;
  place-items: center;
  margin: auto;
  background: red;
  width: fit-content;
}

.heading {
  font-size: 3rem;
  margin-bottom: 2rem;
}
