.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.graph {
  display: grid;
  place-items: center;
  margin: auto;
  background: red;
  width: fit-content;
}
